.c-editable-book-list-container
  padding-top 8px

.c-book-list
  &__items
    margin 0
    padding 0
    list-style none

  &__placeholder
    display block
    margin 20px
    padding 8px 10px
    border 1px dashed #ddd
    border-radius 4px
    color #666
    font-size 13px

  &__group
    margin-top 10px

    > summary
      cursor pointer
      margin-left 20px

    > .c-book-list__items
      padding-top 10px
