.c-header
  position sticky
  top 0
  z-index 20
  margin-bottom 6px
  background #fff

  &__toolbar
    display flex
    justify-content flex-start
    align-items stretch
    min-height 37px
    padding 0

  &__nav-tabs
    flex 1 1 auto
    display flex
    align-items stretch
    min-width 0
    height 100%
    overflow-x auto
    overflow-y hidden
    -webkit-overflow-scrolling touch

  &__nav-item
    min-height 37px
    border-radius 0

    &.Mui-selected
      border-bottom 2px solid #66e

  &__nav-spacer
    flex 1 1 auto

  &__right
    display inline-flex
    align-items center
    flex 0 0 auto
    margin-left 12px

  &__user-name
    margin-right 6px
    color #555
    font-size 13px
    cursor pointer

  &__user-button
    margin-right 6px
