.c-header
  position sticky
  top 0
  z-index 20
  display flex
  justify-content space-between
  align-items center
  min-height 37px
  margin-bottom 5px
  border-bottom 1px solid #f2f2f2
  background #fff

  &__nav-tabs
    padding 0
    margin 0
    list-style none
    display inline-block

    &--right
      margin-right 12px

  &__right
    display inline-flex
    align-items center

  &__user
    display inline-flex
    align-items center
    cursor pointer
    padding-right 10px

    .o-avatar
      margin-right 4px
