.c-vote-card
  display flex
  flex-direction row
  align-items center
  justify-content left
  flex-grow 1
  cursor move

  &--result
    box-shadow none

  &--divider
    .c-vote-card__padded
      justify-content center

    .c-vote-card__details
      justify-content center
      padding 0 12px

  &__padded
    padding 8px
    flex-grow 1
    display flex
    flex-direction row
    align-items center
    justify-content left

  &__index
    color #666

  &__details
    display flex
    align-items center
    flex-grow 1
    padding 0 12px 0 4px

  &__method
    text-align right
    white-space nowrap
    font-size 12px
    color #777

  &__dash
    display inline-block
    margin 0 3px
    font-size 10px
    color #999

  &__author
    color #999
    font-size 12px

  &__no-interest-divider
    display flex
    align-items center
    width 100%
    text-transform uppercase

    &:before,
    &:after
      content ''
      flex 1 1 auto
      border-top 1px solid #c7c7c7

    &:before
      margin-right 8px

    &:after
      margin-left 8px

  &__no-interest-label
    white-space nowrap

  .i-star
    cursor pointer

    &:hover polygon
      fill #ffeb3b

  &__image-media
    background-size contain
    width 36px
    background-position left
    height 50px

    &.no-src
      background-size 90%
      background-position-x 50%

  &__point-dropdown
    &:before, &:after
      display none

  &__points
    white-space nowrap
    display inline-flex
    align-items center

    &--with-method
      flex-direction column
      align-items flex-end
      justify-content center
      gap 3px

      .c-vote-card__points-text
        font-size 12px
