.l-books-page
  padding 10px 40px

  &__header
    display flex
    align-items center
    justify-content space-between
    gap 12px

  &__search
    width 220px

  &__column
    min-width 0

  @media (max-width: 900px)
    padding 10px 16px

    .l-books-page__column
      width 100%

    .l-books-page__header
      flex-wrap wrap
      align-items flex-start

    .l-books-page__search
      width 100%
